body {
  --s: 70px; /* control the size */
  --c: #fffbf1;

  --_l: #0000 46%, var(--c) 47% 53%, #0000 54%;
  
  /* background: radial-gradient(100% 100% at 100% 100%, var(--_l)) var(--s) var(--s), radial-gradient(100% 100% at 0 0, var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100%, #0000 22%, var(--c) 23% 29%, #0000 30% 34%, var(--c) 35% 41%, #0000 42%) #fff7e2; */
    background: radial-gradient(100% 100% at 100% 100%, var(--_l))  var(--s) var(--s), radial-gradient(100% 100% at 0 0, var(--_l)) var(--s) var(--s),
    radial-gradient(#0000 20%, #fffbf1 23% 29%, #0000 30% 34%, #fffbf1 35% 41%, #0000 42%) #fff7e2;

  background-size: calc(var(--s) * 2) calc(var(--s) * 2);
}
